/********************/
/* global variables */
/********************/
:root {
  --clr-primary: #f15025;
  --clr-red: #ff0000;
  --clr-black: #222;
  --clt-white: #fff;
  --clr-offwhite: #f7f7f7;
  --clr-darkgray: #afafaf;
  --transtion: all 0.3s linear;
  --spacing: 0.2rem;
  --line-height: 1.5;
}
/********************/
/* global styles    */
/********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Fira Code", monospace;
  color: var(--clr-black);
  background: var(--clt-white);
  line-height: var(--line-height);
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  display: block;
}

h1,
h2,
h3,
h4 {
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  margin-bottom: 1.25rem;
}
h1 {
  font-size: 2.2rem;
}
h2 {
  font-size: 2rem;
  margin-bottom: 0;
}
h3 {
  font-size: 1.5rem;
  margin-bottom: 0;
}
h4 {
  font-size: 1.5rem;
  margin-bottom: 0;
}
p {
  font-weight: 300;
  font-size: 0.8rem;
  line-height: 2;
}
/* button */
.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  text-transform: capitalize;
  border: 4px solid var(--clr-primary);
  background: rgba(255, 0, 0, 0.1);
  color: var(--clr-primary);
  font-size: 1rem;
  margin: 3rem;
  transition: var(--transtion);
}
.btn:hover {
  background: var(--clr-primary);
  color: var(--clt-white);
}

/********************/
/* main navbar      */
/********************/
.main-navbar {
  background: var(--clr-darkgray);
  padding: 0 2rem;
}
.main-navbar li {
  list-style-type: none;
}
.main-navbar a {
  text-transform: capitalize;
  display: block;
  padding: 1rem 0;
  color: var(--clr-primary);
  letter-spacing: var(--spacing);
  transition: var(--transtion);
}
.main-navbar a:hover {
  color: var(--clr-black);
}

@media screen and (min-width: 992px) {
  .main-navbar ul {
    max-width: 1170px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .main-navbar a {
    text-align: center;
  }
}

/********************/
/* hero             */
/********************/
.hero-header {
  background: var(--clr-primary);
  min-height: 100vh;
  color: var(--clt-white);

  display: grid;
  justify-content: center;
  align-content: center;
}
.header-center {
  /* width: 80vw;
  margin: 0 auto; */
  max-width: 560px;
  /* padding: 0 1rem; */
}
.header-center p {
  font-size: 1rem;
}

/* set padding < 600px  */
@media screen and (max-width: 600px) {
  .header-center {
    padding: 0 3rem;
  }
}

/* set background */
@media screen and (min-width: 768px) {
  .hero-header {
    background: linear-gradient(rgba(241, 80, 37, 0.75), rgba(0, 0, 0, 0.5)),
      url("../images/image-2.jpeg") center/cover fixed no-repeat;
  }
}

/********************/
/* cards            */
/********************/

.title {
  margin: 3rem 1rem;
  text-align: center;
}

.cards-center {
  width: 80vw;
  max-width: 1170px;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: 1fr;
}

.card {
  border: 1px solid var(--clr-darkgray);
  margin-bottom: 3rem;
}
.card-image {
  height: 20rem;
  object-fit: cover;
}
.card-info {
  padding: 1rem;
}
.card-title {
  padding-bottom: 0.5rem;
}

/* set number of lines for text  */
.card-text {
  /* background: red; */
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
.card-footer {
  background: var(--clr-darkgray);
  padding: 0.5rem 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}
.card-footer a {
  color: var(--clr-primary);
  font-size: 1.3rem;
  cursor: pointer;
  transition: var(--transtion);
}
.card-footer a:hover {
  color: var(--clr-black);
  transform: scale(1.2);
}

/* hot fix for the card height incase <p> is too long */
.card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}

/* implement using media queries */
/*********************************/
/* @media screen and (min-width: 768px) {
  .cards-center {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }
}

@media screen and (min-width: 1170px) {
  .cards-center {
    grid-template-columns: repeat(3, 1fr);
  }
} */

/* implement using flex grid  */
/* ************************** */
/*
 max section width is 1170px 
 we have a gap of : 2rem = 16px*2 = 32px
 In a three column layout we have two gaps => 32px *2 = 64px
 so each card is : 
 (1170px - 64px) / 3 = 368px 
*/
/* 3 column layout */
/* (1170px - 64px) / 3 = 368px  */
.cards-center {
  display: grid;
  column-gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(367px, 1fr));
}

/********************/
/* tiles            */
/********************/

.tiles {
  padding: 3rem 0;
}

.tiles-center {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;

  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(367px, 1fr));
}

@media screen and (min-width: 1170px) {
  .tiles-center {
    transition: var(--transtion);

    display: grid;
    /* gap: 2rem; */
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 200px);
    grid-template-areas:
      "a a a b"
      "a a a c"
      "d d d d"
      "e f f f"
      "e g h i";
  }
  .tile img {
    height: 100%;
    object-fit: cover;
  }
  .tile {
    margin-bottom: 0;
  }
  .tile-1 {
    grid-area: a;
    background: red;
  }
  .tile-2 {
    grid-area: b;
    background: green;
  }
  .tile-3 {
    grid-area: c;
    background: blue;
  }
  .tile-4 {
    grid-area: d;
    background: orange;
  }
  .tile-5 {
    grid-area: e;
    background: darkblue;
  }
  .tile-6 {
    grid-area: f;
    background: palegreen;
  }
  .tile-7 {
    grid-area: g;
    background: khaki;
  }
  .tile-8 {
    grid-area: h;
    background: aqua;
  }
  .tile-9 {
    grid-area: i;
    background: grey;
  }
}
.tiles-center:hover {
  gap: 0;
}

/********************/
/* layout           */
/********************/

.layout {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr auto auto;
}
.header {
  background: var(--clr-red);
  color: var(--clt-white);
  text-align: center;
  padding: 0.7rem 0;
}
.header h1 {
  margin: 0;
}

.navbar {
  background: var(--clr-darkgray);
  font-size: 1.6rem;
  text-transform: capitalize;
}
.navbar li {
  list-style-type: none;
}
.navbar a {
  display: block;
  padding: 0.8rem;
  color: var(--clr-black);
  letter-spacing: var(--spacing);
  transition: var(--transtion);
}
.navbar a:hover {
  color: var(--clt-white);
  padding-left: 1rem;
  border-left: 3px solid var(--clt-white);
}
.content {
  padding: 2rem;
}
.content p {
  font-size: 1.4rem;
}

.sidebar {
  background: var(--clr-red);
  color: var(--clt-white);

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  font-size: 1.7rem;
  padding: 1rem 0;
  cursor: pointer;
}
.sidebar span {
  transition: var(--transtion);
}
.sidebar span:hover {
  color: var(--clr-black);
  transform: scale(1.2);
}

.footer {
  background: var(--clr-black);
  color: var(--clt-white);
  text-align: center;
  text-transform: capitalize;
}
.footer p {
  font-size: 1.6rem;
  padding: 0.6rem 0;
}

@media screen and (min-width: 768px) {
  .navbar ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
  }
  .navbar a:hover {
    border-left: 0;
  }
}

@media screen and (min-width: 992px) {
  .layout {
    display: grid;
    grid-template-columns: [a] auto [b] 1fr [c] auto [d];
    grid-template-rows: [a] auto [b] 1fr [c] auto [d];
    /* grid-template-areas:
      "a a a"
      "b c d"
      "e e e"; */
  }
  .header {
    /* grid-area: a; */

    grid-column: a/d;
    grid-row: a/b;
  }
  .navbar {
    /* grid-area: b; */

    grid-column: a/b;
    grid-row: b/c;
  }
  .content {
    /* grid-area: c; */

    grid-column: b/c;
    grid-row: b/c;
  }
  .sidebar {
    /* grid-area: d; */

    grid-column: c/d;
    grid-row: b/c;
  }
  .footer {
    /* grid-area: e; */

    grid-column: a/d;
    grid-row: c/d;
  }

  .navbar ul {
    min-height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    padding: 0 2rem;
  }
  .sidebar {
    min-height: 100%;
    background: var(--clr-darkgray);
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    padding: 0 1.5rem;
  }
}
